<div class="container">
  <ul>
    <% @messages.each do |message| %>
      <li><%= message.sender.first_name %> dit : <%= message.content %></li>
    <% end %>
  </ul>
  <%= simple_form_for [@friend, @message] do |f| %>
    <%= f.input :content %>
    <%= f.submit "Send a message", class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Retour aux conversations', conversations_path %>
</div>
