<%= simple_form_for @flat do |f| %>
  <%= f.input :address %>
  <%= f.input :description %>
  <div class="style-form-align">
    <%= f.input :surface, label: "Surface in m²" %>
    <%= f.input :room, collection: 0..10 %>
    <%= f.input :max_guests, collection: 0..20 %>
    <%= f.input :price, label: "Price in €" %>
  </div>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.button :submit, class: 'btn btn-principal' %>
<% end %>
