<div class="main-container">

  <div class="cards">
    <div class="search">
      <%= form_tag flats_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a flat"
        %>
      <% end %>
    </div>

    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat.id) do %>
        <div class="flat-card">
          <div class="flat-image">
            <%= cl_image_tag flat.photo, height: 200, width: 300, crop: :fill %>
          </div>
          <div class="flat-content">
            <li><%= flat.address %></li>
            <li><%= pluralize(flat.room, 'room')%></li>
            <li><%= flat.surface %> m²</li>
            <li><%= flat.price %> €</li>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

