<div class="main-container">

  <div class="cards-container">
    <div class="search">
      <%= form_tag flats_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Trouver un appart"
        %>
        <%#= text_field_tag :date,
          params[:date],
          class: "form-control"
         %>
        <%= radio_button_tag(:age, "child") %>
<%= label_tag(:age_child, "5km") %>
<%= radio_button_tag(:age, "adult") %>
<%= label_tag(:age_adult, "10km") %>
         <%= check_box_tag(:next_week) %>
         <%= label_tag(:next_week, "Semaine prochaine") %>
         <%= check_box_tag(:next_month) %>
         <%= label_tag(:next_month, "Mois prochain") %>
         Du
         <%= date_field(:user, :born_on) %>
         Au
         <%= date_field(:user, :born_on) %>
         <%= submit_tag "Chercher", class: "btn btn-primary" %>

      <% end %>
    </div>

    <div class="cards-grid-2">
      <% @flats.each do |flat| %>
        <%= link_to flat_path(flat.id) do %>
          <div class="card-flat">
            <div class="card-flat-image">
              <%= cl_image_tag flat.photo, height: 300, width: 400, crop: :fill %>
              <h4 class="card-flat-price"><%= flat.price %> €</h4>
            </div>
            <h5 class="card-flat-address"><%= flat.address %></h5>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

