<div class="main-container">

  <div class="cards-container">
    <div class="search">
      <%= form_tag flats_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a flat"
        %>
      <% end %>
    </div>

    <div class="cards-grid-2">
      <% @flats.each do |flat| %>
        <%= link_to flat_path(flat.id) do %>
          <div class="card-flat">
            <div class="card-flat-image">
              <%= cl_image_tag flat.photo, height: 300, width: 400, crop: :fill %>
              <h4 class="card-flat-price"><%= flat.price %> €</h4>
            </div>
            <h5 class="card-flat-address"><%= flat.address %></h5>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

