<div class="pages-container margin-nav">
  <h3>My flats</h3>
  <div class="cards-grid-3">
    <% if @flats.empty? %>
      <p>No flat yet</p>
      <%= link_to new_flat_path do %>
        <button class="btn btn-principal">Add a flat now</button>
      <% end %>
    <% else %>
      <% @flats.each do |flat| %>
        <%= link_to flat_path(flat.id) do %>
          <div class="flat-card">
            <div class="flat-image">
              <%= cl_image_tag flat.photo, height: 300, width: 400, crop: :fill %>
              <h4 class="flat-card-price"><%= flat.price %> €</h4>
            </div>
            <h5 class="flat-address"><%= flat.address %></h5>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
