<div class="flat-container margin-nav">
  <div class="show-title">
    <h3><%= @flat.address %></h3>
    <%= link_to flats_path do %>
      <button class="btn btn-principal btn-margin-top">All flats</button>
    <% end %>
  </div>
  <div class="flat-content">
    <%= cl_image_tag @flat.photo, height: 400, width: 600 %>
    <div class="flat-description">
      <li><%= @flat.description %></li>
      <div class="flat-info">
        <li><%= pluralize(@flat.room, 'room')%></li>
        <li><%= @flat.surface %> m²</li>
        <li><%= @flat.price %> €</li>
        <li>max_guests : <%= @flat.max_guests %></li>
      </div>
      <div class="flat-action">
        <%= link_to new_flat_booking_path(@flat) do %>
          <button class="btn btn-principal">Book</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
