<div class="flat-container margin-nav">
  <div class="flat-container-left">
    <div class="show-title flat">
      <h3><%= @flat.address %></h3>
      <%= link_to flats_path do %>
        <button class="btn btn-principal btn-margin-top">Tous les apparts</button>
      <% end %>
    </div>

    <div class="flat-content">
      <%= cl_image_tag @flat.photo, height: 500, width: 700 %>
    </div>

    <div class="flat-description">
      <div class="flat-info">
        <p><i class="fas fa-bed"></i> <%= pluralize(@flat.room, 'chambre')%></p>
        <p><i class="fas fa-ruler-combined"></i> <%= @flat.surface %> m²</p>
        <p><i class="fas fa-euro-sign"></i> <%= @flat.price %> € / nuit</p>
        <p><i class="fas fa-users"></i> <%= @flat.max_guests %></p>
      </div>
      <p><%= @flat.description %></p>
      <br>
      <% @reviews.each do |review| %>
        <p><%= review.user.name %></p>
        <p><%= review.content %></p>
        <p><%= review.rating %></p>
      <% end %>
    </div>
  </div>
  <div class="flat-calendar">
    <%= render 'bookings/form', booking: @booking, flat: @flat, text: "Réserver" %>
  </div>

  <div
    id="booking-form-div"
    data-bookings="<%= @bookings_dates.to_json %>"
  >
</div>

