<div class="pages-container margin-nav">
  <h3>My trips</h3>
  <div class="cards-grid-3">
    <% if @bookings.empty? %>
      <p>No booking yet</p>
      <%= link_to flats_path do %>
        <button class="btn btn-principal">Book now</button>
      <% end %>
    <% else %>
      <% @bookings.each do |booking| %>
        <div class="card-flat">
          <%= link_to flat_booking_path(booking.flat.id, booking.id) do %>
            <div class="card-flat-image">
              <%= cl_image_tag booking.flat.photo, height: 300, width: 400, crop: :fill %>
            </div>
            <h5><%= booking.flat.address %></h5>
            <div class="card-flat-content">
              <div class="card-flat-date">
                <p>From : <%= booking.start_date.strftime('%e %B %Y')%></p>
                <p>To   : <%= booking.end_date.strftime('%e %B %Y')%></p>
              </div>
              <div>
                <%= link_to flat_booking_path(booking.flat.id, booking.id) do %>
                  <button class="btn btn-principal btn-margin-top">Show</button>
                <% end %>
                <%= link_to flat_booking_path(booking.flat.id, booking),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                  <button class="btn btn-principal btn-margin-top">Cancel</button>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
