<div class="main-container">

  <div class="book-container">
    <div class="show-title">
      <h2>My trip</h2>
      <%= link_to bookings_path do %>
        <button class="btn btn-principal btn-margin-top">All trips</button>
      <% end %>
    </div>


    <div class="book-content">
      <%= cl_image_tag @flat.photo, height: 300, width: 400, crop: :fill %>
      <div class="book-info">
        <h3><%= @flat.address %></h3>
        <div class="book-date">
          <h5>Booking :</h5>
          <h5>From <%= @booking.start_date.strftime('%e %B %Y')%></h5>
          <h5>To <%= @booking.end_date.strftime('%e %B %Y')%></h5>
        </div>
        <div class="book-price">
          <h3><%= @flat.price %> €</h3>
          <h3>Total price : <%= @total_price %> €</h3>
        </div>
      </div>
    </div>
    <div class="book-description">
      <li><%= @flat.description %></li>
    </div>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
