<div class="dashboard-container margin-nav">
  <div class="dashboard-column">
    <h3>My flats</h3>
    <% if @flats.empty? %>
      <p>No flat yet</p>
      <%= link_to new_flat_path do %>
        <button class="btn btn-principal">Add a flat now</button>
      <% end %>
    <% else %>
      <% @flats.each do |flat| %>
        <%= link_to flat_path(flat.id) do %>
          <div class="flat-card">
            <div class="flat-image">
              <%= cl_image_tag flat.photo, height: 200, width: 300, crop: :fill %>
            </div>
            <div class="flat-content">
              <li><%= flat.address %></li>
              <li><%= pluralize(flat.room, 'room')%></li>
              <li><%= flat.surface %> m²</li>
              <li><%= flat.price %> €</li>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="dashboard-column">
    <h3>My bookings</h3>

    <% if @bookings.empty? %>
      <p>No booking yet</p>
      <%= link_to flats_path do %>
        <button class="btn btn-principal">Book now</button>
      <% end %>
    <% else %>
      <% @bookings.each do |booking| %>
        <div class="flat-card">
          <div class="flat-image">
            <%= cl_image_tag booking.flat.photo, height: 200, width: 300, crop: :fill %>
          </div>
          <div class="flat-content">
            <li><%= booking.flat.address %></li>
            <li>From : <%= booking.start_date.strftime('%e %B %Y')%></li>
            <li>To : <%= booking.end_date.strftime('%e %B %Y')%></li>
            <%= link_to flat_booking_path(booking.flat.id, booking),
                method: :delete,
                data: { confirm: "Are you sure?" } do %>
              <button class="btn btn-principal">Delete</button>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
