<div class="dashboard-container margin-nav">
  <h3>My flats</h3>
  <% if @flats.empty? %>
    <p>No flat yet</p>
    <%= link_to new_flat_path do %>
      <button class="btn btn-principal">Add a flat now</button>
    <% end %>
  <% else %>
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat.id) do %>
        <div class="flat-card">
          <div class="flat-image">
            <%= cl_image_tag flat.photo, height: 200, width: 300, crop: :fill %>
          </div>
          <div class="flat-content">
            <li><%= flat.address %></li>
            <li><%= pluralize(flat.room, 'room')%></li>
            <li><%= flat.surface %> m²</li>
            <li><%= flat.price %> €</li>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
